// vars
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$bg-color: #f7f4f1;


// styles
@import 'scaffolding';




// @media (min-width: 768px) {

// }

// @media (min-width: 1200px) {

// }
